<footer class="footer-container">
  <div class="footer-content">
    <ul class="footer-links">
      <li>
        <a href="#">Sobre Nós</a>
      </li>
      <li>
        <a href="#">Perguntas frequentes</a>
      </li>
      <li>
        <a href="#">Conta</a>
      </li>
      <li>
        <a href="#">Imprensa</a>
      </li>
      <li>
        <a href="#">Central de Privacidade</a>
      </li>
      <li>
        <a href="#">Informações corporativas</a>
      </li>
      <li>
        <a href="#">Entre em contato</a>
      </li>
      <li>
        <a href="#">Só na Domflix</a>
      </li>
    </ul>
  </div>
</footer>