<header class="navbar" id="navbar">
  <div class="navbar-left">
    <img class="logo" src="{{BASE}}assets/images/Domflix-logo.png" alt="Logo Domflix"/>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">Início</a>
        </li>
        <li>
          <a href="#">Séries</a>
        </li>
        <li>
          <a href="#">Filmes</a>
        </li>
        <li>
          <a href="#">Bombando</a>
        </li>
        <li>
          <a href="#">Minha lista</a>
        </li>
      </ul>
    </nav>
    <img class="logo-domflix" src="../assets/images/Logo-Domflix.png" alt="Segunda Logo">
  </div>
  <div class="navbar-right">
    <i class="fas fa-search icon"></i>
    <a href="{{BASE}}../index.html" class="kids-link">Seu nome</a>
    <div class="nav-notification">
      <i class="fas fa-bell icon"></i>
      <span class="notification-badge">2</span>
    </div>
    <button id="theme-toggle" class="btn-icon">🌙</button>
    <a href="{{BASE}}../index.html" class="profile-menu">
      <img class="profile-icon" src="" alt="" />
      <i class="fas fa-caret-down icon"></i>
    </a>
  </div>
</header>